*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    width: 400px;
    height: 400px;
    border: 1px solid;
    margin: 4px auto;
    position: relative;
}
.one{
    width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    top: 0;
    left: 0;
}
.two{
    width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    top: 0;
    right: 0;
}
.three{
     width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    bottom: 0;
    left: 0;
    
}
.four{
     width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    bottom: 0;
    right: 0;
}
.five{
     width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    top: 0;
    left: 140px;

}
.six{
    width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    transform: translate(0,150px);
 }
 .seven{
    width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    transform: translate(150px);
 }
 .eight{
    width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    top: 150px;
    transform: translate(150px);
 }
 .nine{
    width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    bottom: 0px;
    transform: translate(150px);
 }
 .ten{
    width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    bottom: 0px;
    right: 0;
    top: 150px;
    transform: translate(0px);
 }